<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=localhost; Initial Catalog=Pets2; User Id=sa; Password=gettysburg02#"
      providerName="System.Data.SqlClient" />
    <add name="Pets2ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Pets2;User ID=sa;Password=gettysburg02#"
      providerName="System.Data.SqlClient" />
    <add name="Pets2ConnectionString1" connectionString="Data Source=labinf01-51;Initial Catalog=Pets2;User ID=sa;Password=sa1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>